.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: .5rem;
    height: 100px;    
    background-color: var(--primary-escuro);
    color: var(--secondary);

    span {
        display: flex;
    }
}
