.cabecalho {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;

    .title {
        font-size: 1.2rem;
        color: var(--secondary);
        font-weight: 700;
        width: 70%;

        span {
            color: var(--premio);
            margin-left: .5rem;
        }
    }
    
}

