.vantagem {
    background-color: var(--primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 900;
            font-size: 2rem;
            color: var(--secondary);
            margin-bottom: 2rem;

        }
        
        .subtitle {
            text-align: start;
            color: var(--secondary);
        }

        .image {
            margin: 1rem 0;
            
        }
    }

}