.solucao {
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 900;
            font-size: 2.5rem;
            color: var(--primary);
            margin-bottom: 2rem;

        }

        .lentes {
            display: flex;
            flex-direction: column;
        }
    }

    @media (min-width: 768px) {
        .infor {
            width: 100%;

            .lentes {
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 2rem;
            }
        }
    }

}