.qualidade {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin: 1rem 0;

    .title-quality {
        font-weight: 900;
        font-size: 1.6rem;
        color: var(--premio);
    }

    .subtitle {
        color: var(--primary);
    }
}