.formulario {
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 900;
            font-size: 2rem;
            color: var(--primary);
            margin-bottom: 2rem
        }

        .subtitle {
            span {
                color: var(--primary);
                font-weight: 900;
            }
        }
    }
}