.botao {
    width: 100%;
    z-index: 2;
    cursor: pointer;
    max-width: 350px;       
    
    display: block;         
    margin-left: auto;      
    margin-right: auto;     

    @media (min-width: 768px) {
        max-width: 400px;
        font-size: 1.1rem;
    }
}