.lojas {
    background-color: var(--primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    
    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 900;
            font-size: 2.5rem;
            color: var(--secondary);
        }
    
        .descricao {
            color: var(--secondary);
            width: 70%;
        }
    }

    .redes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        .redes {
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}