.produto {
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 900;
            font-size: 2.5rem;
            color: var(--primary);

        }
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .items {
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0 2rem;
        }
    }
}

