.beneficios {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    text-align: 'center';
    gap: 1;
    min-width: '120px';
    z-index: 2;

}

.beneficios-container {
    margin: 1rem 0;
}